dialog {
	width: 33%;
	min-height: 20%;
	max-height: 60%;
	border-radius: 0.5em;
}

h1 {
	margin: 0;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-align-end {
	display: flex;
	justify-content: end;
}

.close-button {
	cursor: pointer;
	width: 1.8em;
	height: 1.8em;
	transition: all 0.5s ease;
}

.close-button:hover {
	transform: scale(1.2);
}

.add-button {
	cursor: pointer;
	width: 1.8em;
	height: 1.8em;
	transition: all 0.5s ease;
}

.add-button:hover {
	transform: scale(1.2);
}