.list-item {
	display: flex;
	margin-bottom: 0.25em;
}

input[type=text] {
	margin: 0 0.25em;
	padding: 0.25em 0;
	border: none;
	background-color: transparent;
	flex-grow: 1;
}

input[type=text]:focus {
	padding: 0.25em 0;
	border: none;
	outline: none;
	background-color: transparent;
	flex-grow: 1;
	border-style: none none solid none;
}

/* input[type=text]:focus + .remove-button {
	color: black;
	background-color: #A9A9A9;
} */

.remove-button {
	cursor: pointer;
	width: 1em;
	height: 1em;
	stroke: transparent;
	transition: all 0.5s ease;
}

.remove-button:hover {
	stroke: black;
	transform: scale(1.2);
}
