dialog {
	width: 33%;
	min-height: 20%;
	max-height: 60%;
	border-radius: 0.5em;
}

.button-align {
	display: flex;
	justify-content: end;
}

.close-button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-size: larger;
}

.add-button {
	border: none;
	border-radius: 50%;
	box-shadow: 0 2px 4px darkslategray;
	height: 2em;
	width: 2em;
	cursor: pointer;
	transition: all 0.2s ease;
}

.add-button:hover {
	background-color: #A9A9A9;
}
