.list-item {
	display: flex;
}

input[type=text] {
	margin: 0 0.25em;
	padding: 0.25em 0;
	border: none;
	background-color: transparent;
	flex-grow: 1;
}

input[type=text]:focus {
	padding: 0.25em 0;
	border: none;
	outline: none;
	background-color: transparent;
	flex-grow: 1;
	border-style: none none solid none;
}

.remove-button {
	border: none;
	background-color: transparent;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
	transition: all 0.2s ease;
}

.remove-button:hover {
	color: black;
	background-color: #A9A9A9;
}

input[type=text]:focus + .remove-button {
	color: black;
	background-color: #A9A9A9;
}