.unordered-list-container {
	padding: 1em;
	margin: 0.5em;
	border-style: solid;
	border-radius: 0.5em;
}

h3{
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

.button-align {
	display: flex;
	justify-content: end;
}


.add-button {
	border: none;
	border-radius: 50%;
	box-shadow: 0 2px 4px darkslategray;
	height: 3em;
	width: 3em;
	cursor: pointer;
	transition: all 0.2s ease;
}

.add-button:hover {
	background-color: #A9A9A9;
}